div {
    width: 1000px;
    background-color: rgb(90, 88, 88);
    
    border: 15px;
    padding: 25px;
    margin: 50px;
    float: left;
}
p{
    text-align: center;
}
b{
    font-family: Tahoma, sans-serif ;
}
h1{
    text-align: center;
    font-size: x-large;
}
a{
    font-size: larger;
}


.header{
    width: 200px;
    margin: 5px;
    border: 10px;
    padding: 25px;
    background-color: rgb(214, 52, 52);
    float:left;
}
.Navigation{
    width: 650px;
    margin: 5px;
    border: 10px;
    padding: 25px;
    background-color: rgb(214, 52, 52);
    float:right;
}
.Article{
    width: 940px;
    margin: 5px;
    border: 10px;
    padding: 25px;
    background-color: rgb(214, 52, 52);
    align-items: flex-start; 
}
.Section{
    width: 875px;
    margin: 5px;
    border: 10px;
    padding: 25px;
    background-color: rgb(250, 107, 107);
    align-content: center;
    background-image: url("4thpic.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
.Footer{
    width: 940px;
    margin: 5px;
    border: 10px;
    padding: 25px;
    background-color: rgb(214, 52, 52);
    display:block;  
}