*{
    box-sizing: border-box;
  }
  html {
    font-family: "Lucida Sans", sans-serif;
  }
  img {
    width: 100%;
    height: auto;
  }

  .navbar{
    display: flex;
    width: 100%;   
    align-items: center;
    padding: 20px;
    color: whitesmoke;
  }
  nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
  }
  nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 14;
  }
  body{
    background-image: linear-gradient(to right, rgb(56, 56, 187),rgb(236, 166, 34));
  }
  .color{
    color: #504e4e;
    text-align: center;
    border: 2px solid greenyellow;
    margin: o auto;
  }
  .box1 {
    background-color: #0099ff;
    min-height: 100vh;
    color: #ffffff;
    padding: 15px;
    float:left;
    text-align: center;
  }
  .box2 {
    background-color: #3f657e;
    min-height: 100vh;
    color: #ffffff;
    padding: 15px;
    float:left;
    text-align: center;
  }
  .frontpage{
    background-color: #316e8a;
    height: 80vh;
    padding: 130px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    float: left;
    overflow:hidden;
  }
  .frontpage1{
    background-color: #279743;
    height: 80vh;
    padding: 130px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    float: left;
    background-image: url("random objects.png") ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .Bigboxmid {
    background-color: #316e8a;
    padding: 150px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }

  .threebox {
    background-color: #3bdae6;
    padding: 50px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    float:right ;
  }
  .fourbox {
    background-color: #581b81;
    padding: 35px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    float:right;
  }
  .whole{
    background-color: #315885;
    color: #ffffff;
    padding: 30px;
    float:none ;
    text-align: center;
  }

  @media only screen and (min-width: 320px){
    .small {width: 100%;}
    .small1 {width: 25%;}
  }
  @media only screen and (min-width: 768px){
    .mid {width: 25%;}
    .mid1 {width: 50%;}
    .mid2 {width: 100%;}
  }
  @media only screen and (min-width: 1024px){
      .big {width: 50%;}
      .big1 {width: 25%;}
      .big2 {width: 33.33%;}
      .big3 {width: 25%;}
  }
